[submodule "interchiplet/thirdparty/spdlog"]
	path = interchiplet/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "interchiplet/thirdparty/CLI11"]
	path = interchiplet/thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "interchiplet/thirdparty/yaml-cpp"]
	path = interchiplet/thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "MNSIMChiplet/MNSIM"]
	path = MNSIMChiplet/MNSIM
	url = https://github.com/thu-nics/MNSIM-2.0.git
[submodule "benchmark/MLP_mesh/json"]
    path = benchmark/MLP_mesh/json
    url = https://github.com/nlohmann/json.git
